@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

body {
    font-family: "Homemade Apple", sans-serif;
    background-image: url(/images/background/background2.png);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
}

/*Navigation*/

.navWrapper {
    width: 1200px;
    display: flex;
    justify-content: flex-end;
}

nav {
    font-family: "Permanent Marker", sans-serif;

    display: flex;
    flex-direction: row;
    margin-top: 20px;;
    padding: 20px;
    gap: 10px;

    background-image: url("/images/tape/tapeNavFull.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 10;
}

nav a {
    font-size: 25pt;
    opacity: 0.5;
    padding: 20px;
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: rgb(36, 36, 36);
}


/*Title*/
.titleWrapper {
    text-align: right;
}

.markerTitle {
    display: inline-block;
    text-align: left;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 60px;
    font-family: "Permanent Marker", sans-serif;
    font-size: 18pt;
    line-height: 70px;
    opacity: 0.6;

    transform-origin: 10px 10px;
    rotate: -2deg;
    
}

/* deco */

.deco {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-top: -80px;
}

.soup {
    margin-top: 50px;
}


/*paper*/
/*note: I used an image here because I don't know how to make a mask, and I feel like it would make it pretty complicated. More than it needs to.*/

.rippedPaper {
    position: relative;
    margin-top: -700px;
    
}

.rippedPaper img {
    width: 60%;
}

.paperWrapper {
    position: relative;
    
}



/*decoration*/

.tape {
    display: flex;
    pointer-events: none;

    position: absolute;
    top: -130px;
    left: 550px;
}

.tape img {
    width: 20%;
}


.postIt {
    pointer-events: none;
    font-family: "Permanent Marker";
    position: absolute;
    background-color: #FFE789;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.103);
    

    top: 620px;
    left: 570px;
    rotate: -2deg;
}

.postIt h1 {
    rotate: -6deg;
    line-height: 60px;
    opacity: 0.6;
}

.postItTape {
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 70px;

    top: 560px;
    left: 580px;
}

.postItTape img {
    width: 60%;
    rotate: -5deg;
}

.postItTape2 {
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 70px;

    top: 620px;
    left: 500px;
}

.postItTape2 img {
    width: 60%;
    rotate: -3deg;
}



/*remark*/

.remark {
    font-size: 17pt;
    margin-left: 50px;
    margin-top: -410px;
    opacity: 0.6;

    transform-origin: 10px 10px;
    rotate: -5deg;
}

/*lightning*/

.lightning {
    display: flex;

    float: right;
    margin-top: 250px;
    margin-right: 250px;
    gap: 20px;
}








